body {
  font-family: 'Courier New', monospace;
}
h1 {
color:#0e451d;
}
h1 {
  background-color
: #acb543;
}
h2 {
  background-color
: #acb543;
}
p {
  font-family: 'Brush Script MT', cursive;
}
#poem{
  background-color: black;
  color: white;

}
